<h3>Home</h3>

{{model}}

<button {{action 'googleOauth' true}}>google oauth in</button>
<button {{action 'googleOauth' false}}>google oauth out</button>
<button {{action 'nextPage'}}>next page</button>
<button {{action 'createAndSave'}}>create and save model</button>